// sass reference functions: e.g. darken

//  Button
.button {
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

// modifier - from BEM (Block Element Modifier)
.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}
